{% extends 'layouts/base.html' %}

{% block content %}
  <h1>About</h1>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure ipsam ratione id delectus modi qui recusandae dolores quaerat adipisci. Doloremque, molestias sunt rem illo iure quidem assumenda dolor officia odio eaque sequi sit, reiciendis perspiciatis, error debitis facere nulla minima ullam corporis consectetur! Possimus eos fugit esse odio rem, accusamus facilis. Et dignissimos corporis ipsa sunt magni velit nobis quisquam quia quibusdam! Quaerat recusandae molestiae nihil obcaecati, sit earum, necessitatibus velit id tempore harum minus voluptatum commodi! Minima maiores laborum natus voluptates dicta doloribus nam molestiae voluptatum, nostrum quaerat sunt quis suscipit error dolore temporibus non alias. Soluta, totam sequi.</p>

  <p>Website created by {{ username }}</p>
{% endblock %}
